#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul, li {
  list-style-type: none;
}

ul {
  margin: 1rem 0;
  padding: 0;
}

.todo-form{
  button{
    margin-left: 1rem;
  }
}

.todo-list {

  .todo{
    text-align: left;
    > *:not(:first-child) {
      margin-left: 1rem;
    }
    p {
      display: inline;
      padding-left: 1rem;
    }
    .complete{
      text-decoration: line-through;
    }
  }
}